service vendor.camera.provider-libcamera /apex/com.android.hardware.camera.libcamera/bin/hw/android.hardware.camera.provider-V1-libcamera-service
    interface aidl android.hardware.camera.provider.ICameraProvider/libcamera/0
    class hal
    user cameraserver
    group audio camera input drmrpc
    ioprio rt 4
    capabilities SYS_NICE
    task_profiles CameraServiceCapacity MaxPerformance
    setenv LIBCAMERA_LOG_LEVELS *:WARN
    setenv LIBCAMERA_LOG_FILE syslog
